html,
body {
  margin: 0;
  padding: 0;
  text-align: center;
}

.primaryTitle {
  font-size: 90px;
  color: #ffff;
}

.primaryBtn {
  color: #ffff;
  text-transform: uppercase;
  font-size: 15px;
  background: linear-gradient(45deg, #395886, #d5deef);
  padding: 12px 30px;
  border-radius: 30px;
  border: none;
}

.primaryBtn:hover {
  background: linear-gradient(45deg, #d5deef, #395886);
}

.secondaryBtn {
  width: 95%;
  background-color: #ffff;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  padding: 12px 30px;
  border-radius: 30px;
  border: solid 2px #111111;
  margin: 6px;
}

.secondaryBtn:hover {
  color: #4b4a4b;
  border: solid 2px #4b4a4b;
}

/*---DashboardHeader---*/

.toolBar {
  background: linear-gradient(45deg, #d5deef, #395886);
}

/*---Navbar---*/

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

nav .logo-container {
  height: 75px;
  margin: 15px;
}

nav .logo-container .logo {
  height: 100%;
}

nav .navBtn {
  color: #581845;
  background-color: #ffff;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  margin: 15px;
}

nav .navBtn:disabled {
  background-color: #787676;
  color: #1f0818;
}

/*---Home Page---*/

.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: linear-gradient(to bottom, #f0f3fa 0%, #395886 100%);
}

.home {
  margin-top: 30vh;
}

/*---Auth Modal---*/

.authModal {
  top: 175px;
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
  height: 600px;
  background-color: #f0f3fa;
  border-radius: 10px;
  padding: 40px;
}

.authModal form {
  display: flex;
  flex-direction: column;
}

.authModal input[type="password"],
.authModal input[type="email"] {
  padding: 8px;
  margin: 8px;
  font-size: 10px;
}

.authModal .closeIcon {
  float: right;
}

/*---Settings modal---*/

.settingsModal {
  top: 175px;
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
  height: 600px;
  background-color: #f0f3fa;
  border-radius: 10px;
  padding: 40px;
}

.settingsModal form {
  display: flex;
  flex-direction: column;
}

.settingsModal form section {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 35%;
}

.settingsModal form input {
  padding: 15px 30px;
  margin: 10px 0;
  font-size: 15px;
  border: solid 2px #395886;
  border-radius: 10px;
}

.settingsModal form input::-webkit-outer-spin-button,
.settingsModal form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.settingsModal form .multipleInputContainer {
  display: flex;
  flex-direction: row;
}

.settingsModal form .multipleInputContainer input {
  margin-right: 10px;
}

.settingsModal form .multipleInputContainer label {
  padding: 10px;
  border: solid 2px #395886;
  border-radius: 10px;
  transition: all 0.3s;
  margin: 10px;
}

.settingsModal .closeIcon {
  float: right;
}

/*---OnBoarding Page---*/

.onboarding {
  border-top: solid 1px #b1c9ef;
}

.onboarding form {
  display: flex;
  justify-content: center;
}

.onboarding form section {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 35%;
}

.onboarding form input {
  padding: 15px 30px;
  margin: 10px 0;
  font-size: 15px;
  border: solid 2px #395886;
  border-radius: 10px;
}

.onboarding form input::-webkit-outer-spin-button,
.onboarding form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.onboarding form .multipleInputContainer {
  display: flex;
  flex-direction: row;
}

.onboarding form .multipleInputContainer input {
  margin-right: 10px;
}

.onboarding form .multipleInputContainer label {
  padding: 10px;
  border: solid 2px #395886;
  border-radius: 10px;
  transition: all 0.3s;
  margin: 10px;
}

.onboarding form input[type="number"] {
  width: 15%;
}

.onboarding form .photoContainer {
  width: 100%;
}

.onboarding form .photoContainer .profileImg {
  width: 100%;
}

/*---Dashboard---*/

.dashboard {
  display: flex;
  justify-content: center;
}

.dashboard .swipeContainer,
.dashboard .activityContainer,
.dashboard .userContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.swipe {
  position: absolute;
}

.dashboard .cardContainer {
  width: 400px;
  height: 650px;
}

.card {
  position: relative;
  background-color: #f0f3fa;
  width: 400px;
  height: 650px;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
}

.card h3 {
  margin-top: 0;
}

.dashboard .swipeInfo {
  position: relative;
}

/*---Matches---*/
.matches {
  display: flex;
  justify-content: center;
}
.matches .swipeContainer,
.matches .activityContainer,
.matches .userContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.matches .cardContainer {
  width: 400px;
  height: 650px;
}

.card {
  position: relative;
  background-color: #fff;
  width: 400px;
  height: 650px;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
}

/* Style this ok? oK! */
/*---ChatContainer---*/

.chatContainer {
  width: 30%;
  text-align: left;
  top: 50%;
  border-top: none;
  border-right: solid 1px #f0f3fa;
}
.chatContainer .activityBtn {
  border: 1px solid #111111;
}

.chatContainer .chatContainerHeader {
  background: linear-gradient(to right, #f0f3fa 0%, #395886 100%);
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chatContainer .matchCard {
  display: flex;
  align-items: center;
  margin: 5px;
  border: 1px solid #111111;
  border-radius: 25px;
}

.chatContainer .btnContainer {
  display: flex;
  justify-content: center;
}

.chatContainer .option {
  border: none;
  border-bottom: solid 4px #638ecb;
  margin: 5px;
  padding: 10px;
}

.chatContainer .profile,
.chatContainer .logOutIcon {
  display: flex;
  align-items: center;
  padding: 20px;
}

.imgContainer {
  height: 30px;
  width: 30px;
  border-radius: 15px;
  overflow: hidden;
  margin: 10px;
}

.imgContainer .profileImg {
  width: 100%;
}

.chatInput {
  display: flex;
  flex-direction: column;
}

.chatDisplay {
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  width: 320px;
  max-width: 100%;
  height: 60vh;
  overflow-y: auto;
}

.chatMessageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  border-radius: 25px;
  position: relative;
}

.chatMessageContainer#sender .profileImg {
  align-self: flex-end;
  object-fit: cover;
  position: absolute;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  right: 15px;
  top: 7px;
  z-index: 2;
}

.chatMessageContainer#reciever .profileImg {
  align-self: flex-start;
  object-fit: cover;
  position: absolute;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  left: 15px;
  top: 7px;
  z-index: 2;
}

.chatMessageContainer .message {
  background-color: #f0f3fa;
  border-radius: 50px;
  position: relative;
  z-index: 1;
}

.chatMessageContainer#sender .timestamp {
  align-self: flex-end;
  text-align: right;
  font-size: 12px;
  margin-bottom: 20px;
}

.chatMessageContainer#reciever .timestamp {
  align-self: flex-start;
  text-align: right;
  font-size: 12px;
  margin-bottom: 20px;
}

.chatMessageContainer#sender .message {
  align-self: flex-end;
  text-align: right;
  padding: 15px 70px 15px 20px;
  margin: 0;
}

.chatMessageContainer#reciever .message {
  align-self: flex-start;
  text-align: left;
  padding: 15px 20px 15px 70px;
  margin: 0;
}
.chatMessageContainer#category .message {
  align-self: center;
  padding: 15px 20px 15px 20px;
}
